<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<title>Loan Creator</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<h1>Create Loan</h1>
		<p>Success! Your loan has been saved. Your ID is: <%= loan.insertedId %>, please store it somewhere for retrieval.</p>
		<a id="create" href="/">Home</a>
		<script type="text/javascript" src="/js/main.js"></script>
	</body>
</html>