<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<title>Loan Creator</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<h1>Your Loan</h1>
        <p><%= loan.display() %></p>
        <button>Update This Loan</button>
        <button id="home">Home</button>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>