<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<title>Loan Creator</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<h1>Your Loan</h1>
        <p>Loan Amount: $<%= loan.amount %></p>
        <p>Interest Rate: <%= loan.interestRate * 100 %>%</p>
        <p>Length of Loan: <%= loan.loanLength %> months</p>
        <p>Payment: $<%= loan.monthlyPayment %>/month</p>
        <button id="update">Update This Loan</button>
        <button id="home">Home</button>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>